setuptools
logbook==0.11.3
cobe-act==1.7.0
pyzmq==15.2.0
-e hg+https://bitbucket.org/cobeio/syskit@6c00612b3d80f1d7c9fad41a2f1a24992a416881#egg=syskit
requests>=2.11.1
python-cobe
pyyaml
kube
docker-py