# Install using "conda install --file requirements-conda.txt"
python >=3.4,<3.5
cffi
pyzmq
msgpack-python
syskit
pyyaml
act

# Dev requirements
pip
pytest
pytest-capturelog
pytest-cov
pylint
pylint-abilisoft
coverage
invoke
